

<h1>Sign In</h1>

<%= notice %>

<%= form_tag sessions_url do %>

  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email, params[:email] %>
  <br>
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Sign In" %>

<% end %>


