<p id="notice"><%= notice %></p>


<div class="row">

<div class="col-md-3">
  <%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, :back, class: "link_fix" %>
  <h1 class="center primary_blue name"><%= @actor.first_name %> <%= @actor.last_name %></h1>
  <h3 class="center"><%= @actor.email %></h3>
  <%= image_tag(@actor.headshot.url, :alt => 'headshot', :width => 265, class: "headshot") %>
  <br>
  <br>
<div class="panel panel-default">
  <div class="panel-body">
<ul class="left">
  <% if @actor.equity == "Equity" %>
  <li><h4 class="primary_blue"><i class="fa fa-star"></i> <%= @actor.equity %></h4></li>
  <% elsif @actor.equity == "EMC" %>
  <li><h4 class="primary_blue"><i class="fa fa-star-half-o"></i> <%= @actor.equity %></h4></li>
  <% end %>
  <li><h4><span class="bold">Height:</span> <%= @actor.height %></h4></li>
  <li><h4><span class="bold">Weight:</span> <%= @actor.weight %></h4></li>
  <li><h4><span class="bold">Hair:</span> <%= @actor.hair %></h4></li>
  <li><h4><span class="bold">Eyes:</span> <%= @actor.eyes %></h4></li>
</ul>
</div>
</div>

<div class="center">
  <% if session[:actor_id] %>
    <%= link_to '<i class="fa fa-pencil"></i> Edit Profile'.html_safe, edit_actor_url(@actor), class: "btn btn-primary" %>
    <%= link_to '<i class="fa fa-trash-o"></i> Delete Profile'.html_safe, @actor, method: :delete, data: { confirm: 'Are you sure you want to delete your account? This action cannot be reversed.' }, class: "btn btn-primary" %>

  <% elsif session[:associate_id] %>
    <%= mail_to "#{@actor.email}", '<i class="fa fa-envelope"></i> Email Actor'.html_safe, class: "btn btn-primary" %>
  <% end %>
</div>

</div>

<div class="col-md-9">
  <div class="container">

  <iframe src="<%= @actor.resume %>" width="70%" height="975"></iframe>
</div>
</div>
</div>



