<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, :back, class: "link_fix" %>
<h1>Actor Submissions for <%= @audition.name %>:</h1>


<div class="row">
  <div class="col-md-6">
    <h2 class="center">Women:</h2>
    <% @women.each do |woman| %>
    <div class="panel panel-default height">
      <div class="panel-heading">
        <h3 class="panel-title"><%= woman.first_name %> <%= woman.last_name %></h3>
      </div>
    <div class="panel-body">
      <div class="col-md-3">
        <%= image_tag(woman.headshot, :alt => 'headshot', :width => 100, class: 'headshot') %>
      </div>
      <div class="col-md-5">
        <ul>
          <% if woman.equity == "Equity" %>
          <li class="bold primary_blue"><i class="fa fa-star"></i> <%= woman.equity %></li>
          <% elsif woman.equity == "EMC" %>
          <li class="bold primary_blue"><i class="fa fa-star-half-o"></i> <%= woman.equity %></li>
          <% end %>
          <li><span class="bold">Height:</span> <%= woman.height %></li>
          <li><span class="bold">Weight:</span> <%= woman.weight %> lbs</li>
          <li><span class="bold">Hair:</span> <%= woman.hair %></li>
          <li><span class="bold">Eyes:</span> <%= woman.eyes %></li>
        </ul>
    </div>
    <div class="col-md-4">
      <%= link_to '<i class="fa fa-user"></i> Visit Profile'.html_safe, actor_url(woman), class: "btn btn-primary" %>
      <br>
      <br>
      <%= mail_to "#{woman.email}", '<i class="fa fa-envelope"></i> Email Actor'.html_safe, class: "btn btn-primary" %>
  </div>
</div>
</div>
    <% end %>
</div>

  <div class="col-md-6">
    <h2 class="center">Men:</h2>
    <% @men.each do |man| %>
    <div class="panel panel-default height">
      <div class="panel-heading">
        <h3 class="panel-title"><%= man.first_name %> <%= man.last_name %></h3>
      </div>
    <div class="panel-body">
      <div class="col-md-3">
        <%= image_tag(man.headshot, :alt => 'headshot', :height => 150, class: 'headshot') %>
      </div>
      <div class="col-md-5">
        <ul>
          <% if man.equity == "Equity" %>
          <li class="bold primary_blue"><i class="fa fa-star"></i> <%= man.equity %></li>
          <% elsif man.equity == "EMC" %>
          <li class="bold primary_blue"><i class="fa fa-star-half-o"></i> <%= man.equity %></li>
          <% end %>
          <li><span class="bold">Height:</span> <%= man.height %></li>
          <li><span class="bold">Weight:</span> <%= man.weight %> lbs</li>
          <li><span class="bold">Hair:</span> <%= man.hair %></li>
          <li><span class="bold">Eyes:</span> <%= man.eyes %></li>
        </ul>
    </div>
    <div class="col-md-4">
      <%= link_to '<i class="fa fa-user"></i> Visit Profile'.html_safe, actor_url(man), class: "btn btn-primary" %>
      <br>
      <br>
      <%= mail_to "#{man.email}", '<i class="fa fa-envelope"></i> Email Actor'.html_safe, class: "btn btn-primary" %>
  </div>
</div>
</div>
    <% end %>

</div>

</div>


